/*  General styles */

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --main-color-100: #c0dbd9;
   --main-color-200: #88b5bf;
   --main-color-300: #7faff6;
   --main-color-400: #0d89b0;

   --accent-color-200: #b3f95a;
   --accent-color-100: #8ad191;

   --font-color: #ffffff;

   --main-gap: 15px;
}
body {
   display: grid;
   padding-inline: var(--main-gap);
   gap: var(--main-gap);
   background: var(--main-color-100);
   color: var(--font-color);
   font-family: Roboto, sans-serif;
   font-weight: 400;
}

/* header styles */
.header {
   background: var(--main-color-300);
   padding: 1.9rem;
}
/* popup styles */
.popup-btn {
   padding: 8px 15px;
   border: none;
   border-radius: 5px;
   background: #a5c7f9;
   color: var(--font-color);
   text-decoration: none;
}
.popup-container {
   position: fixed;
   inset: 0;
   background: rgba(0, 0, 0, 0.8);
   opacity: 0;
   z-index: 999;
   pointer-events: none;
   display: flex;
   justify-content: center;
   align-items: center;
}
.popup-content {
   max-width: 60%;
   display: flex;
   flex-direction: column;
   gap: var(--main-gap);
   padding: 3rem;
   margin: 0 auto;
   position: relative;
   font-size: 1.5rem;
   border-radius: 1rem;
   background: var(--font-color);
   color: black;
}
.popup-content > .close {
   position: absolute;
   top: 0;
   right: 1rem;
   border-radius: 50%;
   font-size: 4rem;
   text-decoration: none;
   color: black;
}
.popup-container:target {
   opacity: 1;
   pointer-events: all;
}
/* main content */
.main {
   display: grid;
   gap: var(--main-gap);
}
/* block-1 styles */
.block-1 {
   display: grid;
   gap: var(--main-gap);
   grid-template-columns: repeat(6, 1fr);
   background: var(--accent-color-200);
}
.block-1__card {
   min-height: 12.375rem;
   background: var(--accent-color-100);
   position: relative;
}
.block-1__card:nth-child(1) {
   grid-column: 1 / span 2;
}
.block-1__card:nth-child(1)::after {
   content: '1';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 3.3125rem;
}
.block-1__card:nth-child(2) {
   grid-column: 3 / span 3;
}
.block-1__card:nth-child(2)::after {
   content: '2';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 3.3125rem;
}
.block-1__card:nth-child(3) {
   grid-column: 6 / span 1;
}
.block-1__card:nth-child(3)::after {
   content: '3';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 3.3125rem;
}
.block-1__card:nth-child(4) {
   grid-column: 1 / span 5;
}
.block-1__card:nth-child(4)::after {
   content: '4';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 3.3125rem;
}
.block-1__card:nth-child(5)::after {
   content: '5';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 3.3125rem;
}

/* block-2 styles */
.block-2 {
   display: grid;
   gap: calc(var(--main-gap) * 2);
   grid-template-columns: repeat(4, 1fr);
   padding: calc((var(--main-gap)) * 2);
   background: var(--main-color-200);
}
.block-2__card {
   aspect-ratio: 3 / 2;
   background: var(--main-color-400);
}

/* footer styles */
.footer {
   margin-top: 6.25rem;
   min-height: 6.25rem;
   background: var(--main-color-300);
}
@media screen and (max-width: 60rem) {
   .block-1 {
      grid-template-columns: 1fr 1fr;
   }
   .block-1 > .block-1__card {
      grid-column: auto;
   }
}
@media screen and (max-width: 40rem) {
   .block-1 {
      grid-template-columns: 1fr;
   }
   .block-1 > .block-1__card {
      grid-column: 1 / 2;
   }
}
